:root
{
    --basic-red: #EE3643;
    --basic-hover-red:#CA2C37;
    --basic-active-red:#BA2732;
    --list-link-active:#A9A9A9;
    --header-green: #63A63E;
    --header-hover-green:#5FBB2D;
    --basic-green:  #8ED78F;
    --basic-grey:#293449;
    --most-darkgrey:#1D2739;
    --basic-dark-grey: #32425C;
    --basic-background: rgba(0,0,0,0);
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --header-active-color:#161D29;
    --footer-yellow:#FFD180;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-pink: #DC91D8;
    --special-green: #8ED78F;
    --basic-top-color: #F9F5F0;
    --goods-last-price-color: #A9A9A9;
    --basic-greylight:#f1f5f7;
    --catalog-heading-color:#F2F6F8;
    --custom-font: "Cuprum", Arial, sans-serif;
    --catalog-color: #F7F3EC;
    --goods-item-border: #EAEAEA;
    --popup-button-group:#F4F4F4;
    --catalog-button-border-color: #E5E5E5;
    --catalog-low-info-color: #F1F5F7;
    --special-navigation-color: #293449;
    --scale-color: #D7DCDE;
    --form-color:#C5C5C5;
    
}

.page{
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    height: 100%;
    min-width: 960px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-black);
    font-style: normal;
    font-weight: normal;
}

*, *::before, ::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
  
img{
    max-width: 100%;
    height: auto;
}

.container{
    display: block;
    width: 960px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}

.popup-container{
    display: block;
    width: 460px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.special-button-link:hover{
    background: var(--basic-hover-red);
}

.special-button-link:active{
    background: var(--basic-active-red)
}
  
.special-button-link{
    font-family: var(--custom-font);
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}


.main-header{
    background: var(--basic-background);
    display: block;
    padding-bottom: 59px;
}

.header-top{
    background: var(--basic-grey);
}

.header-top .center-container{
    width: 940px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.header-top-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo-div{
    width:220px;
    height: 47px;
    margin-bottom:-5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-groups-link{
    display: flex;
    align-items: center;
    
}

.search-link:hover{
    background-color: var(--basic-white);
    color: var(--basic-black)
}

.search-link{

    width: 242px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top:9px;
    padding-bottom:9px;
    padding-top:9px;
    padding-bottom:9px; 
}

.bookmarks-linkhover::before{
    color: var(--basic-white)
}

.bookmarks-link:before{
    content:"";
    position: absolute;
    width:14px;
    height:16px;
    top:12px;
    left:21px;
    background-image: url(/img/bookmark.svg);
    
}

.bookmarks-link:active{
    background-color: var(--header-active-color);
    opacity: 0.5;
}

.bookmarks-link{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 24px;
    padding-left: 43px;
    position: relative;
}

.cart-link::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 24px;
    width: 16px;
    height: 18px;
    background-image: url("img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }

.cart-link:active{
    opacity:0.5;
}

.cart-link{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 26px;
    padding-left:25px;
}

.catalog-cart-link{
    display: inline-flex;
    color: var(--basic-white);
    background-color: var(--basic-red);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 26px;
    padding-left:19px;
}

.catalog-cart-link::before{
    content: "";
    position: absolute;
    top: 24px;
    left: 24px;
    width: 16px;
    height: 18px;
    background-image: url("img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.form-link:hover{
    background-color: var(--header-hover-green) ;
}

.form-link:active{
    opacity: 0.5;
}

.form-link{
    background: var(--header-green);
    width: 150px;
    padding:9px 16px 9px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-form-links{
    font-family: var(--custom-font);
    font-size: 18px;
    color: var(--basic-white);
}

.header-middle{
    background: var(--basic-greylight);

    
}

.header-middle{
    background: var(--basic-greylight);
    display: flex;
    justify-content: space-between
}
.header-middle-group{
    display: flex;
}

.header-text{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    width: 197px;
    margin-right:93px;
    margin-left: 30px;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.header-contacts{
    margin-top: 57px;
    margin-bottom: 40px;
    width: 270px;
    display: flex;
    flex-direction: column;
}

.header-phone{
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--basic-white);
    margin-bottom: 3px;
}

.header-address{
    width: 250px;
    font-family: var(--custom-font);
    font-style: normal;
    color: var(--basic-grey);
    font-size: 14px;
    line-height: 24px;
}



.header-login-link:hover{
    color: var(--basic-red)
}

.header-login-link:focus{

}

.header-login-link:active{
    color: var(--form-color)
}

.header-login-link{
    font-family: var(--custom-font);
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-dark);
    background: var(--basic-white)
}

.header-account{
    margin-top: 58px;
    padding-bottom:67px;
    margin-left: auto;
}

.entrance-link{
    display: inline-flex;
    margin-right: 10px;
    padding:12px 24px 12px 12px;
    position: relative;
    padding-left: 60px;
}

.entrance-link::before{
    content: "";
    position: absolute;
    width: 21px ;
    height: 17px ;
    top: 13px;
    left: 30px;
    background-image: url(/img/entrance-link.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
}

.entrance-link:hover::before,
.entrance-link:focus::before,
.entrance-link:active::before {
  color: red;
}


.check-in--link{
    display: inline-flex;
    padding:12px 24px 12px 24px;
}

.main-header-bar{
    background: var(--basic-greylight);
    padding-bottom: 60px;
}

.main-navigation-wrapper {
    width: 940px;
    margin: 0 auto;
    
    background: var(--basic-dark-grey);
    box-shadow: inset 0px -5px 0px #293449;
     
}
.navigation-item:active{
    background-color: var(--most-darkgrey);
    opacity: 0.5;
}
.navigation-item:focus{
    background-color: var(--most-darkgrey);
}
.navigation-item:hover{
    background: var(--special-navigation-color);
      
}
.site-navigation{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.navigation-item{
    display: block;
    padding: 22px 26px 22px 26px;
    margin: 0;
    font-family: var(--custom-font);
    display: flex;
    color: var(--basic-white);
    font-size: 18px;
}


.site-slider{
    padding-left:10px;
    padding-right:10px;
    padding-bottom:59px;
    margin-bottom:0;
}

.slider-list{
    width: 940px;
    margin: 0 auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}


.slider-items{
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-top: 20px;
    padding-left: 23px;
    padding-bottom: 21px;
    padding-right: 42px;
}



.slider-item-heading{
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    margin:0;
    margin-bottom: 14px;
    color: var(--basic-white);
}

.list-link:hover{
    background-color: var(--form-color);
}

.list-link:active{
    background-color: var(--list-link-active);
}

.list-link{
    font-family: var(--custom-font);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    margin:0;
    width: 135px;
    display: flex;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
    text-transform: uppercase;
    background-color: rgba(243, 233, 233, 0.301);
  
}

.materials{
    background: var(--special-yellow);
    position: relative;
    overflow: hidden;
}

.materials:before{
    content: "";
    position: absolute;
    top: 34px;
    left: 213px;
    width: 44px;
    height: 65px;
    background-image: url("/img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.materials:after{
    content:"NEW";
    position: absolute;
    width: 100px;
    height: 30px;
    left: 225px;
    bottom: 83px;
    background-color: var(--basic-red);
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--custom-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);

}

.tools{
    background: var(--special-blue);
    position: relative;
}

.tools:before{
    content: "";
    position: absolute;
    top: 34px;
    left: 194px;
    width: 75px;
    height: 61px;
    background-image: url("/img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.techs{
    background: var(--special-pink);
    position: relative;
}

.techs:before{
    content: "";
    position: absolute;
    top: 31px;
    left: 191px;
    width: 78px;
    height: 62px;
    background-image: url("/img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.discount{
    background: var(--special-green);
    position: relative;
}

.discount:before{
    content: "";
    position: absolute;
    top: 26px;
    left: 196px;
    width: 59px;
    height: 72px;
    background-image: url("/img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.delivery-item{
    background: var(--special-yellow);
    position: relative;
}

.delivery-item:before{
    content: "";
    position: absolute;
    top: 32px;
    left: 191px;
    width: 78px;
    height: 63px;
    background-image: url("/img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.special-item{
    grid-column: 1/3;
    grid-row: 2/4;
    background-image: url("/img/special-item.jpg");
    height: 266px;
}

.special-item-top-group{
    background:rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.special-item-middle-group{
    display: flex;
    justify-content: space-between;
    padding-right: 21px;
    padding-left: 21px;
}

.special-item-low-group{
    display:flex;
    margin-top: 39px;
}

.special-item-middle-shape{
    transform: rotate(-180deg);
}

.special-item-heading{
    margin-top: 0;
    margin-bottom: 5px;
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-white);
    padding-top:23px;
    padding-left:24px;
}

.special-item-text{
    margin:0;
    font-family: var(--custom-font);
    color: var(--basic-white);
    font-size:18px;
    padding-bottom: 16px;
    padding-left: 24px;
    display: flex;
    align-items: center;
}

.special-item-link{
    font-family: var(--custom-font);
    font-size: 14px;
    line-height: 18px;
    margin-left: 24px;
    margin-bottom:  auto;
    padding: 11px 46px 9px 46px;
}

.popular-goods{
    padding-left:10px;
    padding-right:10px;
    padding-bottom:70px;
}

.popular-goods-top{
    background-color: var(--basic-top-color);
    display: flex;
    margin-bottom: 20px;
    padding: 25px 14px 26px 28px;
    align-items: center;
    justify-content: space-between;
}

.popular-goods-heading{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.popular-goods-link{
    display: flex;
    padding: 11px 22px 11px 22px;
    text-transform: uppercase;
}

.goods-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.goods-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--goods-item-border);
}

.goods-item:hover{
    box-shadow:  0 3px 6px 1px var(--scale-color);
}

.goods-image{
    display: flex;
    height: 170px;
    align-items: center;
    justify-content: center;
}

.goods-name{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-left: 18px;
    margin-right: 17px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.last-price{
    position: relative;
    top: 7px;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--goods-last-price-color)
}

.new-price{
    margin-top: 38px;
    display: flex;
    padding: 10px 35px 10px 32px;
    justify-content: center;
    width: 141px;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 21px;
    background: var(--basic-red);
    color: var(--basic-white);
}

.item-without-lp{
    margin-top: auto;
}

.popular-manufacturers{
    padding-left:10px;
    padding-right:10px;
    padding-bottom:70px;
}


.popular-manufacturers-top{
    background-color: var(--basic-top-color);
    display: flex;
    margin-bottom: 20px;
    padding: 25px 14px 26px 28px;
    align-items: center;
    justify-content: space-between;
}

.popular-manufacturers-heading{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.popular-manufacturers-link{
    display: flex;
    padding: 11px 22px 11px 22px;
    text-transform: uppercase;
}

.manufacturers-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.manufacturers-item{
    border: 1px solid var(--goods-item-border);
}

.manufacturers-item:hover{
    box-shadow:  0 3px 6px 1px var(--scale-color);
}

.manufacturers-image:focus{
    background: rgba(0, 0, 0, 0.0001);;
}

.manufacturers-image{
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services{
    background: var(--basic-greylight);
    padding-top: 70px;
    padding-bottom: 99px;
}

.services-top-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.top-text{
    width: 394px;
    margin-right:0px;
}

.middle-text{
    width: 300px;
}

.services-heading{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;

}

.services-text{
    margin-right: 0;
    margin-left:0;
    padding: 0;
    font-size: 13px;
   
}

.services-middle-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.delivery-heading{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.services-list{
    list-style-type: none;
    align-self: start;
    padding-left:0;
    position: relative;
    z-index: 1;
}

.services-list:after{
    content:'';
    width:10px;
    height: 279px;
    position: absolute;
    top: -50px;
    left: 230px;
    background-image: url(/img/services-list.png);
    z-index: 2;
}

.services-item-white{
    width: 240px;
    margin: 0;
    padding-left: 22px;
    padding-top: 14px;
    padding-bottom: 18px;
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-grey);
    background: var(--basic-white);
    display: flex;
}

.services-item-grey{
    width: 240px;
    margin: 0;
    padding-left: 22px;
    padding-top: 14px;
    padding-bottom: 18px;
    display: flex;
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background: var(--basic-dark-grey);
    color: var(--basic-white);
}

.services-item-grey:hover{
    background-color: var(--basic-grey);
}

.services-item-grey:focus{
    background-color: var(--basic-white);
    color: var(--basic-grey);
}

.information{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.company-info{
    background: var(--basic-white);
    padding-top: 70px;
    padding-bottom: 70px;
}

.company-info-heading{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.company-info-text{
    margin: 0;
    padding: 0;
    width: 460px;
    font-size: 13px;
    line-height: 24px;
}

.info-list{
    list-style-type: none;
}

.info-item{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    font-size: 18px;
    position: relative;
}

.info-item:before{
    content: "";
    width: 25px;
    height: 2px;
    top: 10px;
    left: -35px;
    position: absolute;
    background-image: url(/img/contacts-list.png);
}

.company-info-link{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 11px 22px 11px 22px;
    text-transform: uppercase;
    width: 220px;
}

.contacts-heading{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.contacts-text{
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.contacts-link{
    margin: 0;
    padding: 0;
    display: flex;
    padding: 11px 22px 11px 22px;
    text-transform: uppercase;
    width: 300px;
    justify-content: center;
}

.main-footer{
    /*background: var(--basic-dark-grey);*/
    display: block;
}

.main-footer-top{
    background: var(--basic-dark-grey);
    
}
.main-footer-top-group{
    display: flex;
    
}

.main-footer-middle{
    background: var(--basic-dark-grey);
    padding-top: 22px;
    padding-bottom: 54px;
    
}
.main-footer-middle-group{
    display: flex;
    
}

.main-footer-low{
    background: var(--basic-grey);
}
.main-footer-low-group{
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
}

.logo-div-footer{
    width:220px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-address{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    font-size: 18px; 
    font-style: normal;
    color: var(--basic-white)
    
}
.footer-phone{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    font-size: 18px;
    color: var(--basic-white)
}

.footer-list{
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 58px;
}

.footer-contacts{
    width: 450px;
    display: flex;
    flex-direction: column;
}

.footer-content{
    font-size:18px;
    line-height: 24px;
    list-style-type: none;
    padding: 0;
    display: flex;
    padding-top: 5px;
    margin-left: 58px;
}

.footer-list{
    display: flex;
    padding-top: 37px;
    margin:0;
    margin-left: 173px;
}

.footer-list-item{
    
    font-family: var(--custom-font);
    font-size: 18px;
    color: var(--basic-white);
}

.footer-content-item{
    margin: 0;
    padding: 0;
    padding-left: 58px;
    font-family: var(--custom-font);
    font-size: 18px;
    color:var(--footer-yellow);
}

.footer-content-item-materials{
    padding-left:0;
}

.footer-text-info{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white)
}

.footer-text-comeback{
    margin: 0;
    padding: 0;
    padding-right: 51px;
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-link{
    margin: 0;
    padding: 0;
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--footer-yellow);
}
.footer-svg-group{
    padding-left: 161px;
    padding-right: 118px;
}

.footer-text-developer{
    margin:0;
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}



.catalog-top{
    background: var(--catalog-color);
}

.form-name{
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:19px;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: var(--basic-black)
}

.form-heading{
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color: var(--basic-black);
}

.form-item{
    font-size: 15px;
    line-height: 19px;
    color: var(--basic-black);
}

.form-button{
    background: var(--basic-white);
    border: 1px solid var(--catalog-button-border-color);
    box-sizing: border-box;
    font-size: 13px;
    line-height: 18px;
}


.pagination-list{
    list-style-type: none;
    padding-left: 0;
}

.pagination-item{
    background: var(--basic-white);
    border: 1px solid var(--catalog-button-border-color);
    box-sizing: border-box;
    border-radius: 2px;
}


.catalog-low-info{
    background: var(--catalog-low-info-color);
}



.catalog-low-info-text{
    font-size: 13px;

}

.main-part{
    display: flex;
    flex-direction: column;
}

.goods-way-list-group{
    display: flex;
    padding-top: 21px;
    padding-bottom: 20px;
}

.goods-way-link{
    padding-right:17px;
    padding-left:17px;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black)
}

.catalog-heading-group{
  background: var(--catalog-heading-color);
}

.catalog-heading{
    padding-left:30px;
    padding-top:30px;
    padding-bottom:30px;
    margin:0;
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--basic-dark-grey);
  
}

.catalog-middle-group{
    display: flex;
    flex-direction: row;
}

.form-group{
    margin-top: 20px;
    width: 220px;
    margin-right: 20px;
}



.catalog-sorting-group{
    margin-top: 20px;
    background: var(--catalog-color);
    display: flex;
    flex-direction: row;
}

.sorting-list{
    padding-top:10px;
    padding-bottom:10px;
    margin-top:0;
    margin-bottom:0;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 13px;
    line-height: 18px;
    mix-blend-mode: normal;
    opacity: 0.3;
    
    color: var(--basic-black);
}

.about-price{
    padding-right:70px;
}

.about-type{
    padding-right: 65px;
}

.up-link{
    padding-right: 21px;
}

.sorting-lists-group{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right:14px;
}

.catalog-goods-list-group{
    margin-top: 28px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.pagination-group{
    display: flex;
    flex-direction: row;
    margin-left: 238px;
    padding-top: 48px;
    padding-bottom: 59px;
}

.pagination-link{
    padding: 10px 15px 10px 15px;
    border: 1px solid var(--catalog-button-border-color);
    margin-right: 10px;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
}

.pagination-link:hover{
    border: 1px solid var(--form-color);
}

.pagination-link:active{
    border: 1px solid var(--basic-red);
}

.pagination-link:focus{
    background-color:var(--basic-red);
    color: var(--basic-white)
}

.catalog-low-info-heading{
    margin:0;
    padding-top: 64px;
    padding-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    font-family: var(--custom-font);
}

.catalog-low-info-text{
    display: flex;
    align-items: center;
    margin:0;
    padding-bottom: 67px;
}

.filter-chekbox{
    padding-right:12px;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    display: none;
}

.popup-body{
    min-height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.popup-content{
    background-color: var(--basic-white);
    width: 625px;
    position: relative;
}

.all-popup-content{
    display: flex;
    flex-direction: column;
}

.popup-close{
    position:absolute;
    right: 11px;
    top: 11px;
    color: var(--basic-black);
    text-decoration: none;
}

.popup-form{
    display: flex;
    flex-wrap:wrap; 
    padding: 44px 82px 37px 82px;
}

.popup-form-top-group{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.popup-button-group{
    background-color: var(--popup-button-group);
    padding-top: 37px;
    padding-bottom: 37px;;
}

.popup-button{
    font-family: var(--custom-font);
    font-weight: 400;
    line-height: 18px;
    size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: var(--basic-white);
    border: none;
    background: var(--basic-red);
}

::placeholder{
    padding-top: 12px;
    padding-left: 12px;
    
}



.filter-item {
    margin: 0;
    padding: 0;
    border: none;     
  }
  
.range-filter {
    width: 220px;
    margin-top: 10px;
}
  
.filter-item legend {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
  
.range-controls {
    position: relative;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-bottom: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--catalog-color);
    border-radius: 5px;
}
  
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}
  
.max-price{
    width:95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.range-controls .toggle-min {
    left: 18px;
}
  
.range-controls .toggle-max {
    left: 152px;
}
  
.price-controls {
    display: flex;
    justify-content: space-between;
}
  
.price-controls label {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 18px;
}
  
.price-controls input {
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color:var(--basic-black);
    border: none;
    border-radius: 5px;
    background:var(--catalog-color);
    font-family: inherit;
    font-size: inherit;
}

.catalog-login{
      padding:0;
      
      padding: 12px 57px 12px 56px;
      position: relative;
}

.catalog-login:before{
    content:"";
    position: absolute;
    left:21px;
    width: 20px;
    height: 18px;
    background-image: url(/img/catalog-login.svg);
}

.catalog-login:after{
    content:"";
    position: absolute;
    right:25px;
    width: 20px;
    height: 17px;
    background-image: url(/img/entrance-link.svg);
}

.low-catalog-link{
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-grey)
}

.header-account-сatalog{
    margin-top: 58px;
    padding-bottom:67px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.my-orders{
    padding-left: 21px;
    position: relative
}

.my-orders:before{
    content:'';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 8px;
    top: 7px;
    background: linear-gradient(0deg, #32425C, #32425C), #FFFFFF;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.form-list{
    padding-left: 0;
    list-style-type: none;
}

.filter-option {
    margin-bottom: 20px;
    padding-left: 35px;
  }

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }

  .filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0px;
    width: 23px;
    height: 23px;
    border: 2px solid var(--form-color);
  }

  .filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -35px;
    width: 23px;
    height: 23px;
    background-image: url(/img/checkbox-on.svg);
  }

  .filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -38px;
    top: 0px;
    width: 25px;
    height: 25px;
    border: 2px solid var(--form-color);
    border-radius: 50%;
  }

  .filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -30px;
    width: 9px;
    height: 9px;
    background-color: var(--form-color);
    border-radius: 50%;
  }

  .filter-button {
    padding-right: 78px;
    padding-left: 79px;
    padding-top:10px;
    padding-bottom:10px;
    border: 1px solid var(--catalog-button-border-color);
    background-color: var(--basic-white);
  }


  .ssl{
    transform: rotate(-180deg);
    
  }

  .filter-input:disabled{
      opacity: 0.4;
  }

  .footer-list-item:hover{
      text-decoration: underline;
  }

  .footer-list-item:active{
      text-decoration: none;
      opacity: 0.5;
  }

  .footer-content-item:hover{
    text-decoration: underline;
  }

  .footer-content-item:active{
    text-decoration: none;
    opacity: 0.5;
  }