/* CSS файл для проекта Техномарт*/
/*
font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;
*/

:root
{
    --basic-red: #EE3643;
    --basic-green:  #63A63E;
    --basic-grey:#293449;
    --basic-dark-grey: #32425C;
    --basic-background: rgba(0,0,0,0);
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --footer-yellow:#FFD180;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-pink: #DC91D8;
    --special-green: #8ED78F;
    --basic-top-color: #F9F5F0;
    --goods-last-price-color: #A9A9A9;
    --basic-greylight:#f1f5f7;
    --custom-font: "Cuprum", Arial, sans-serif;
}

.body
{
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    font-style: normal;
    font-weight: normal;
}

a 
{
    text-decoration: none;
}
  
img 
{
    max-width: 100%;
    height: auto;
}

/*------------------Стили для шапки------------------*/
.main-header
{
    background: var(--basic-background);
}
.header-top
{
background: var(--basic-grey)
}
/*.logo-div
{
    color: var(--basic-red) 
}
.logo{
    background: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}*/
.header-form-links
{
    font-family: var(--custom-font);
    font-size: 18px;
    color: var(--basic-white);
}
.header-middle{
    background: var(--basic-greylight);
}
.header-text
{
    font-family: var(--custom-font);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red)
}
.header-phone
{
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red)
}
.header-address
{
    font-family: var(--custom-font);
    color: var(--basic-grey)
}
.header-login-link
{
    font-family: var(--custom-font);
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-dark);
    background: var(--basic-white)
}
.main-navigation
{
    background: var(--basic-dark-grey);
    box-shadow: inset 0px -5px 0px #293449;
}
.site-navigation
{
    list-style-type: none;
}
.navigation-item
{
    font-family: var(--custom-font);
    color: var(--basic-white);
    font-size: 18px;
}
/*------------------Стили для основной части------------------*/
.content-list
{
    list-style-type: none;
}
.list-link
{
    font-family: var(--custom-font);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
}

.materials
{
    background: var(--special-yellow);
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.tools
{
    background: var(--special-blue);
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.techs
{
    background: var(--special-pink);
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.discount
{
    background: var(--special-green);
    font-family:var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.delivery-list
{
    background: var(--special-yellow);
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.special-item-heading
{
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-white)
}
.special-item-text
{
    font-family: var(--custom-font);
    color: var(--basic-white);
}
.special-list-link
{
    font-family: var(--custom-font);
    line-height: 18px;
    background: var(--basic-red);
    color: var(--basic-white);
    text-decoration: none;
}
.popular-goods-top
{
    background-color: var(--basic-top-color);
}
.popular-goods-heading
{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
}
.popular-goods-link
{
    font-family: var(--custom-font);
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}
.goods-name
{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
.last-price
{
    text-decoration: line-through;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--goods-last-price-color)
}
.new-price
{
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    background: var(--basic-red);
    color: var(--basic-white);
}
.popular-manufacturers-top
{
    background: var(--basic-top-color);
}
.popular-manufacturers-heading
{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
}
.popular-manufacturers-link
{
    font-family: var(--custom-font);
    line-height: 18px;
    color: var(--basic-white);
    background: var(--basic-red);
}
.services
{
    background: var(--basic-greylight);
}
.services-heading
{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
}
.services-text
{
    font-size: 13px;
}
.delivery-heading
{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
}
.services-list
{
    list-style-type: none;

}
.services-item-white
{
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background: var(--basic-white);

}
.services-item-grey
{
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background: var(--basic-grey);
    color: var(--basic-white);
}
.company-info
{
    background: var(--basic-white);
}
.company-info-heading
{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
}
.company-info-text
{
    font-size: 13px;
    line-height: 24px;
}
.info-list
{
    list-style-type: none;
}
.info-item
{
    font-family: var(--custom-font);
    font-size: 18px;
}
.company-info-link
{
    font-family: var(--custom-font);
    line-height: 18px;
    color: var(--basic-white);
    background: var(--basic-red);
}
.contacts-heading
{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
}
.contacts-text
{
    font-size: 13px;
}
.contacts-link
{
    font-family: var(--custom-font);
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}
.main-footer
{
    background: var(--basic-grey);
}
.main-footer-top
{
    background: var(--basic-dark-grey);
}
.footer-address{
    font-family: var(--custom-font);
    font-size: 18px;
    color: var(--basic-white)
}
.footer-phone
{
    font-family: var(--custom-font);
    font-size: 18px;
    color: var(--basic-white)
}
.footer-list
{
    list-style-type: none;
}      
.footer-content
{
    list-style-type: none;
}
.footer-list-item
{
    font-family: var(--custom-font);
    font-size: 18px;
    color: var(--basic-white);
}
.footer-content-item
{
    font-family: var(--custom-font);
    font-size: 18px;
    color:var(--footer-yellow);
}
.footer-text-info
{
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white)
}
.footer-text-comeback
{
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}
.footer-link
{
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--footer-yellow);
}
.footer-text-developer
{
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}