:root
{
    --basic-red: #EE3643;
    --basic-green:  #63A63E;
    --basic-grey:#293449;
    --basic-dark-grey: #32425C;
    --basic-background: rgba(0,0,0,0);
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --footer-yellow:#FFD180;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-pink: #DC91D8;
    --special-green: #8ED78F;
    --basic-top-color: #F9F5F0;
    --goods-last-price-color: #A9A9A9;
    --basic-greylight:#f1f5f7;
    --catalog-heading-color:#F2F6F8;
    --custom-font: "Cuprum", Arial, sans-serif;
    --catalog-color: #F7F3EC;
    --catalog-button-border-color: #E5E5E5;
    --catalog-low-info-color: #F1F5F7;
}

.page{
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    height: 100%;
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-black);
    font-style: normal;
    font-weight: normal;
}

*, *::before, ::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
  
img{
    max-width: 100%;
    height: auto;
}



.main-header{
    background: var(--basic-background);
    display: block;
    padding-bottom: 59px;
}

.header-top{
    background: var(--basic-grey);
    
}

.header-top .center-container{
    width: 940px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
/*.header-top .center-container{
    width: 940px;
    height: 42px;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/

.group-links{
    width: 430px;
    justify-content: space-between;
    display: flex;
}

.form-link{
    background: var(--special-green);
    width: 150px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-form-links{
    font-family: var(--custom-font);
    font-size: 18px;
    color: var(--basic-white);
}

.header-middle{
    background: var(--basic-greylight);
    padding-bottom: 60px;
    
}

.header-middle .center-container {
    background: var(--basic-greylight);
    width: 940px;
    margin: 0 auto;
    padding: 46px 0 45px;
    display: flex;
    justify-content: space-between
}

.header-text{
    font-family: var(--custom-font);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    width: 197px;
    display: flex;
    align-items: center;
}

.header-phone{
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    display: flex;
    align-items: center
}

.header-contacts{
    width: 270px;
    display: flex;
    flex-direction: column;
    ;
}

.header-address{
    font-family: var(--custom-font);
    color: var(--basic-grey);
    display: flex;
    align-self: center
}

.header-login-link{
    font-family: var(--custom-font);
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-dark);
    background: var(--basic-white)
}

.main-navigation-wrapper {
    
    width: 940px;
    margin: 0 auto;
    padding: 22px;
    background: var(--basic-dark-grey);
    box-shadow: inset 0px -5px 0px #293449;
     
}
.site-navigation{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 56px;
}
.navigation-item{
    font-family: var(--custom-font);
    display: flex;
    color: var(--basic-white);
    font-size: 18px;
}

.container{
    display: block;
    width: 940px;
    padding: 0 10px;
    margin: 0 auto
}


.content-list{
    width: 940px;
    margin: 0 auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.list-link{
    font-family: var(--custom-font);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
}

.materials{
    background: var(--special-yellow);
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.tools{
    background: var(--special-blue);
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.techs{
    background: var(--special-pink);
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.discount{
    background: var(--special-green);
    font-family:var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.delivery-list{
    background: var(--special-yellow);
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.special-item-heading{
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-white)
}

.special-item-text{
    font-family: var(--custom-font);
    color: var(--basic-white);
}

.special-list-link{
    font-family: var(--custom-font);
    line-height: 18px;
    background: var(--basic-red);
    color: var(--basic-white);
    text-decoration: none;
}

.popular-goods-top{
    background-color: var(--basic-top-color);
    display: flex;
    margin-bottom: 20px;
    padding: 25px 14px 26px 28px;
    align-items: center;
    justify-content: space-between;
}

.popular-goods-heading{
    font-family: var(--custom-font);
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.popular-goods-link{
    font-family: var(--custom-font);
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    display: flex;
    padding: 11px 22px 11px 22px;
    text-transform: uppercase;
}

.goods-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.goods-image{
    display: flex;
    height: 159px;
    align-items: center;
    justify-content: center;
}

.goods-name{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.last-price{
    text-decoration: line-through;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--goods-last-price-color)
}

.new-price{
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    background: var(--basic-red);
    color: var(--basic-white);
}

.popular-manufacturers-top{
    background-color: var(--basic-top-color);
    display: flex;
    margin-bottom: 20px;
    padding: 25px 14px 26px 28px;
    align-items: center;
    justify-content: space-between;
}

.popular-manufacturers-heading{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.popular-manufacturers-link{
    font-family: var(--custom-font);
    line-height: 18px;
    color: var(--basic-white);
    background: var(--basic-red);
    display: flex;
    padding: 11px 22px 11px 22px;
    text-transform: uppercase;
}

.manufacturers-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.manufacturers-image{
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services{
    background: var(--basic-greylight);
    padding-top: 70px;
    padding-bottom: 99px;
}

.services-top-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.top-text{
    width: 394px;
}

.middle-text{
    width: 300px;
}

.services-heading{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;

}

.services-text{
    font-size: 13px;
   
}

.services-middle-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.delivery-heading{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.services-list{
    list-style-type: none;
    align-self: start;
}

.services-item-white{
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background: var(--basic-white);

}

.services-item-grey{
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background: var(--basic-grey);
    color: var(--basic-white);
}

.information{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.company-info{
    background: var(--basic-white);
}

.company-info-heading{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.company-info-text{
    width: 460px;
    font-size: 13px;
    line-height: 24px;
}

.info-list{
    list-style-type: none;
}

.info-item{
    font-family: var(--custom-font);
    font-size: 18px;
}

.company-info-link{
    font-family: var(--custom-font);
    line-height: 18px;
    color: var(--basic-white);
    background: var(--basic-red);
    display: flex;
    padding: 11px 22px 11px 22px;
    text-transform: uppercase;
    width: 220px;
}

.contacts-heading{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.contacts-text{
    font-size: 13px;
}

.contacts-link{
    font-family: var(--custom-font);
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    display: flex;
    padding: 11px 22px 11px 22px;
    text-transform: uppercase;
    width: 300px;
    justify-items: center;
}

.main-footer{
    /*background: var(--basic-dark-grey);*/
    display: block;
}

.main-footer-top{
    background: var(--basic-dark-grey);
    
}

.main-footer-middle{
    background: var(--basic-grey);
    
}

.footer-address{
    font-family: var(--custom-font);
    font-size: 18px; 
    font-style: normal;
    color: var(--basic-white)
}
.footer-phone{
    font-family: var(--custom-font);
    font-size: 18px;
    color: var(--basic-white)
}

.footer-list{
    list-style-type: none;
}

.footer-content{
    list-style-type: none;
}

.footer-list-item{
    font-family: var(--custom-font);
    font-size: 18px;
    color: var(--basic-white);
}

.footer-content-item{
    font-family: var(--custom-font);
    font-size: 18px;
    color:var(--footer-yellow);
}

.footer-text-info{
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white)
}

.footer-text-comeback{
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-link{
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--footer-yellow);
}

.footer-text-developer{
    font-family: var(--custom-font);
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.goods-way-list{
    list-style-type: none;
}
.goods-way-link{
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black)
}
.catalog-heading{
    font-family: var(--custom-font);
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--basic-dark-grey);
    background: var(--catalog-heading-color);
}
.catalog-top{
    background: var(--catalog-color);
}

.form-name{
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black)
}

.form-heading{
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color: var(--basic-black);
}

.form-item{
    font-size: 15px;
    line-height: 19px;
    color: var(--basic-black);
}

.form-button{
    background: var(--basic-white);
    border: 1px solid var(--catalog-button-border-color);
    box-sizing: border-box;
    font-size: 13px;
    line-height: 18px;
}

.sorting-list{
    list-style-type: none;
    font-size: 13px;
    line-height: 18px;
    mix-blend-mode: normal;
    opacity: 0.3;
    color: var(--basic-black);
}

.pagination-list{
    list-style-type: none;
    padding-left: 0;
}

.pagination-item{
    background: var(--basic-white);
    border: 1px solid var(--catalog-button-border-color);
    box-sizing: border-box;
    border-radius: 2px;
}

.pagination-link{
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
}
.catalog-low-info{
    background: var(--catalog-low-info-color);
}

.catalog-low-info-heading{
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    font-family: var(--custom-font);
}

.catalog-low-info-text{
    font-size: 13px;

}